name: powersync_sqlite_core_tests
publish_to: "none"
version: 0.0.1
description: Tests for powersync-sqlite-core
environment:
  sdk: ^3.4.0

dependencies:
  sqlite3: ^3.0.0
  bson: ^5.0.5

dev_dependencies:
  test: ^1.25.0
  test_descriptor: ^2.0.2
  file: ^7.0.1
  sqlite3_test: ^0.2.0
  fake_async: ^1.3.3
  convert: ^3.1.2
  meta: ^1.16.0
  path: ^1.9.1

# See https://pub.dev/documentation/sqlite3/latest/topics/hook-topic.html
hooks:
  user_defines:
    sqlite3:
      source: source
      path: ../crates/sqlite/sqlite/sqlite3.c
      # Used in sync_test.dart to ensure the core extension dosn't leave any
      # busy statements behind.
      defines:
        - SQLITE_ENABLE_STMTVTAB
