on:
  push:
  pull_request:
name: "android"
jobs:
  build:
    name: Building Android
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build Android
        uses: ./.github/actions/android
        with:
          sign-publication: '0'
