on:
  push:
  pull_request:
name: "ios"
jobs:
  build:
    name: Building iOS
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup
        run: |
          rustup toolchain install nightly-2025-04-15-aarch64-apple-darwin
          rustup component add rust-src --toolchain nightly-2025-04-15-aarch64-apple-darwin
          rustup target add \
            x86_64-apple-darwin \
            aarch64-apple-darwin \
            aarch64-apple-ios \
            aarch64-apple-ios-sim \
            x86_64-apple-ios
      - name: setup-cocoapods
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          version: 1.16.2

      - name: Build iOS & macOS xcframework
        run: |
          ./tool/build_xcframework.sh

      - name: Lint pod
        run: |
          pod lib lint
