on:
  push:
  pull_request:
name: "linux"
jobs:
  build:
    name: Building Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2024-05-18
          components: rust-src
          targets: x86_64-unknown-linux-gnu

      - name: Setup
        run: |
          cargo build -p powersync_loadable --release
          ls -lh target/release
          mv "target/release/libisar.so" "libisar_linux_x64.so"

      - name: Upload binary
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: libisar_linux_x64.so
          asset_name: libisar_linux_x64.so
          tag: 0.1.6
