on:
  push:
  pull_request:
name: "linux"
jobs:
  build_x86_64:
    name: Building Linux x86_64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Build binary x64
        run: bash tool/build_linux.sh x64

      - name: Upload binary
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          overwrite: true
          file: libpowersync_x64.so
          asset_name: libpowersync_x64.so
          tag: v0.1.6

      - name: Build binary aarch64
        run: bash tool/build_linux.sh

      - name: Upload binary
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          overwrite: true
          file: libpowersync_aarch64.so
          asset_name: libpowersync_aarch64.so
          tag: v0.1.6
