on:
  push:
name: "macos"
jobs:
  build_macOS_aarch64:
    name: Building macOS aarch64
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2024-05-18
          components: rust-src

      - name: Build binary
        run: ./tool/build_macos.sh aarch64

  build_macOS_x64:
    name: Building macOS x64
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2024-05-18
          components: rust-src

      - name: Build binary
        run: ./tool/build_macos.sh x64
