on:
  push:
  pull_request:
name: "windows"
jobs:
  build_windows:
    name: Building Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2024-05-18
          components: rust-src
          targets: x86_64-pc-windows-msvc

      - name: Setup
        run: bash tool/build_windows.sh x64

      - name: Upload binary
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          overwrite: true
          file: powersync_x64.dll
          asset_name: powersync_x64.dll
          tag: v0.1.6

      - name: Setup
        run: bash tool/build_windows.sh

      - name: Upload binary
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          overwrite: true
          file: powersync_aarch64.dll
          asset_name: powersync_aarch64.dll
          tag: v0.1.6
